#Data Structures

##Tuple

In [ ]:
#Define a random tuple

In [2]:
tup1= (1, 1, 1, 2, 3, "Salaar", 2.5, False)
tup1

(1, 1, 1, 2, 3, 'Salaar', 2.5, True)

In [ ]:
#Check Type of tuple

In [4]:
type(tup1)

tuple

In [ ]:
#Check tuple count

In [16]:
tup1.count(1)

4

In [ ]:
#check index number in tuple

In [18]:
tup1.index("Salaar")

5

In [23]:
tup1[3]

2

In [ ]:
# finding elements from one index to another (this excludes the last one)

In [24]:
tup1[0:4]

(1, 1, 1, 2)

In [25]:
tup1[1:3]

(1, 1)

In [ ]:
#finding length (total elements) of a tuple

In [28]:
len(tup1)

8

In [ ]:
#concatenation / Addition of two tuples

In [19]:
tup2 = (2, 4, 6, "zainab", False)
tup1 + tup2

(1, 1, 1, 2, 3, 'Salaar', 2.5, True, 2, 4, 6, 'zainab', False)

In [ ]:
#Multiplying a tuple with a number to repeat tuple

In [20]:
tup1 * 2

(1, 1, 1, 2, 3, 'Salaar', 2.5, True, 1, 1, 1, 2, 3, 'Salaar', 2.5, True)

In [30]:
tup1 * 2 + tup2

(1,
 1,
 1,
 2,
 3,
 'Salaar',
 2.5,
 True,
 1,
 1,
 1,
 2,
 3,
 'Salaar',
 2.5,
 True,
 2,
 4,
 6,
 'zainab',
 False)

In [ ]:
#Finding min and max value in tuple

In [32]:
tup3 = (4,6,3,6,8,9,6,4,3,5,6,8,9)
min(tup3)

3

In [33]:
max(tup3)

9

In [ ]:
#Drawing a line (although not related to tuple but an attribute of markdown in jupyter notebook). Draw three lines in markdown and press ctrl + enter

---