# Data Structures

## Sets

- Un-ordered and Un-indexed
- written inside curly brackets
- Does not incoporate duplicaiton
- Does not incorporate Boolean

In [1]:
#defining a set

In [2]:
set1 = {2, 4, 5.6, "zainab", "salaar", True}
set1

{2, 4, 5.6, True, 'salaar', 'zainab'}

In [3]:
#finding length of a set

In [4]:
len(set1)

6

In [5]:
#adding element into a set

In [6]:
set1.add("my kids")
set1

{2, 4, 5.6, True, 'my kids', 'salaar', 'zainab'}

In [7]:
#finding differences between two sets

In [8]:
set2 = {2,  3, 4, 6, 8, 10}
set3 = {3, 5, 7, 9}
set3.difference(set2)

{5, 7, 9}

In [9]:
#finding difference between two sets and updating the set with resulted value

In [10]:
set2.difference_update(set3)
set2

{2, 4, 6, 8, 10}

In [11]:
#discarding a defined element from a set

In [12]:
set2.discard(4)
set2

{2, 6, 8, 10}

In [13]:
#Finding common elements in two sets

In [14]:
set2.intersection(set1)

{2}

In [15]:
#finding common elements of two sets and updating one set with result value

In [16]:
set2.intersection_update(set1)
set2

{2}

In [17]:
#Finding if one set is subset of another

In [18]:
set2= {2,4,6,8,"zainab"}
set4={1,2,3,4,5,6,7,8,"zainab", "salaar"}
set2.issubset(set4)

True

In [19]:
set2

{2, 4, 6, 8, 'zainab'}

In [20]:
#Finding if all elements of two sets are distinct from each other or not

In [21]:
set2.isdisjoint(set4)

False

In [22]:
#Finding if one set is superset of another set

In [23]:
set4.issuperset(set2)

True

In [24]:
#removing a specific element from a set and returning error if said element is not present in the set

In [25]:
set2.remove("zainab")
set2

{2, 4, 6, 8}

In [26]:
#Removing random value from a set and returing the removed value

In [27]:
set2.pop()

2

In [28]:
#finding elements which are present only in a specific set

In [29]:
set4.symmetric_difference(set2)

{1, 2, 3, 5, 7, 'salaar', 'zainab'}

In [30]:
#finding elements which are present only in a specific set and uodating the value of set with returned value

In [31]:
set4.symmetric_difference_update(set2)
set4

{1, 2, 3, 5, 7, 'salaar', 'zainab'}

In [32]:
#Combining two sets or finding union of two se

In [33]:
set2.union(set4)

{1, 2, 3, 4, 5, 6, 7, 8, 'salaar', 'zainab'}

In [ ]:
#updating elements of a set with random selection of elements

In [34]:
set2.update("cat")
set2

{4, 6, 8, 'a', 'c', 't'}