# Learning Python

## PhD in Robotics and AI

### KOC University, Turkey

**01-My First Program**

In [1]:
def get_fruits():
    money = float(input("how much money do you have? "))
    if (money>100):
        print("we can get Mangoes, bnanas and apples")
    elif (money==100):
            print ("we can get Bnanas and apples")
    else:
            print("we can get apples only")
    return(get_fruits)
get_fruits()

how much money do you have? 100
we can get Bnanas and apples

**02-My Second Program**

In [2]:
weight=input("Enter your weight ")
print(type(weight))
weight=float(weight)
print(type(weight))

Enter your weight 84
<class 'str'>
<class 'float'>

In [7]:
tup1=(1, "chal oye", 2.5, True)
tup2= (2, "shashkay, 6.8, False")
tup1*2 + tup2

(1, 'chal oye', 2.5, True, 1, 'chal oye', 2.5, True, 2, 'shashkay, 6.8, False')

In [17]:
tup1=(1, "chal oye", 2.5, True)
tup1.replace(2.5, "x")

AttributeError: 'tuple' object has no attribute 'replace'

In [18]:
list1 = [1, 2, 3, 4]
type(list1)

list

In [49]:
list1 = [1,2, 2, 3,3,3,4]
list1.copy()
list1

[1, 2, 2, 3, 3, 3, 4]

-Dictionaries
Un-ordered collection of elements
key and value
used with curly brackets {}
mutateable or values can be changed

In [51]:
food1 ={"Samosa":30, "pakora":100, "raita":20, "salad":50, "chicken rolls":30}
food1

{'Samosa': 30, 'pakora': 100, 'raita': 20, 'salad': 50, 'chicken rolls': 30}

In [52]:
type(food1)

dict

In [56]:
#extract data
keys1 = food1.keys()
keys1

dict_keys(['Samosa', 'pakora', 'raita', 'salad', 'chicken rolls'])

In [57]:
values1=food1.values()
values1

dict_values([30, 100, 20, 50, 30])

In [60]:
food1["tikki"]=30
food1

{'Samosa': 30,
 'pakora': 100,
 'raita': 20,
 'salad': 50,
 'chicken rolls': 30,
 'tikki': 30}

In [64]:
food1.update()
food1

{'Samosa': 30,
 'pakora': 100,
 'raita': 20,
 'salad': 50,
 'chicken rolls': 30,
 'tikki': 30}

In [66]:
food2={"doodh":110, "patti":40, "cheeni":10}
food1.update(food2)
food1

{'Samosa': 30,
 'pakora': 100,
 'raita': 20,
 'salad': 50,
 'chicken rolls': 30,
 'tikki': 30,
 'doodh': 110,
 'patti': 40,
 'cheeni': 10}

## SET
Unordered collection of elements
Unindexed data
curly brackets used
no duplicates allowed

In [70]:
s1={1, 2, 4, "joker", "robotics", "murghi", True}
s1

{1, 2, 4, 'joker', 'murghi', 'robotics'}

In [73]:
s1.add("ammar")
s1

{1, 2, 4, 'ammar', 'joker', 'murghi', 'robotics'}